name: Deploy to Github pages

on:
  workflow_dispatch:


jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: cachix/install-nix-action@v27
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
      - name: build pages
        run: nix develop --command just --shell bash build
      - name: Archive artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: build/
          retention-days: 1
      - name: Deploy pages
        uses: actions/deploy-pages@v4
